<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05504D861D2F5A1D0096CF2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05504D9A1D2F5A1E0096CF2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05504DA51D2F5A1E0096CF2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
